name: Lighthouse CI + Deploy Report

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]
  schedule:
    - cron: "45 2 * * *" 

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  lighthouse-test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        # device: [desktop, mobile]
        # brand: [paved, gsa] # updated
        # suite:
        #   - root/tests/test_performance_lighthouse_desktop.py
        #   - root/tests/test_performance_lighthouse_mobile.py
        include:
          - device: desktop
            suite: root/tests/test_performance_lighthouse_desktop.py
          - device: mobile
            suite: root/tests/test_performance_lighthouse_mobile.py

    steps:
      - name: Checkout code
        uses: actions/checkout@v4


      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 20
          cache: 'npm' #updated

      - name: Install Lighthouse globally (optional, nhưng an toàn hơn) #updated
        run: npm install -g lighthouse

      - name: Install Chrome
        run: |
          wget -q -O - https://dl.google.com/linux/linux_signing_key.pub | sudo apt-key add -
          echo "deb [arch=amd64] http://dl.google.com/linux/chrome/deb/ stable main" | sudo tee /etc/apt/sources.list.d/google-chrome.list
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: "3.13"

      - name: Install Python dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt
          pip install allure-pytest

      - name: Set PYTHONPATH
        run: echo "PYTHONPATH=$PWD" >> $GITHUB_ENV

      - name: Run Lighthouse Tests
        id: run-tests
        run: |
          pytest -v ${{ matrix.suite }} --alluredir=allure-results --maxfail=1 --disable-warnings -q
          echo "exit_code=$?" >> $GITHUB_ENV

      - name: Upload Allure Results Artifact
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: allure-results-${{ matrix.device }}-${{ github.run_attempt }}
          path: allure-results/
          retention-days: 7

      # - name: Fail job if tests failed
      #   if: env.exit_code != '0' && env.exit_code != ''
      #   run: exit $exit_code

  generate-report:
    needs: lighthouse-test
    runs-on: ubuntu-latest
    if: always()

    steps:
      - name: Download All Allure Results
        uses: actions/download-artifact@v4
        with:
          pattern: allure-results-*
          path: all-allure-results
          merge-multiple: true


      - name: Move to correct folder
        run: |
          mkdir -p allure-results
          find all-allure-results -type f -name "*.json" -exec cp {} allure-results/ \;

      - name: Install Allure CLI
        run: |
          curl -o allure.tgz -Ls https://github.com/allure-framework/allure2/releases/download/2.29.0/allure-2.29.0.tgz
          tar -zxvf allure.tgz -C /opt/
          ln -s /opt/allure-2.29.0/bin/allure /usr/local/bin/allure

      - name: Generate Allure Report
        run: allure generate allure-results --clean -o allure-report

      - name: Upload GitHub Pages Artifact
        uses: actions/upload-pages-artifact@v4
        with:
          path: allure-report

  deploy-report:
    needs: generate-report
    runs-on: ubuntu-latest
    if: always()
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    permissions:
      pages: write
      id-token: write

    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
